* {
  margin: 0;
  box-sizing: border-box;
  font: 1em sans-serif;
  max-width: 1440px;
  
}


@media screen and (max-width:800px) {
  
  .none {
    display: none;
   }
  
   .show {
    display: flex;
   }
}
